a {
    color:blue;
}
h1 {
    font-size: 50px;
    text-align: center;
    border-bottom : 1px solid gray;
    margin : 0;
    padding : 20px;
}
body {
    margin : 0;
}
#grid {
    display : grid;
    grid-template-columns : 150px 1fr;
}
#grid ol {
    padding-left : 33px;
}
#leftDiv {
    border-right : 1px solid gray;
    
}
#rightDiv {
    padding : 25px;
}
img {
    width : 100%;
}
@media(max-width : 800px) {
    h1 {
        border : none;
    }
    #grid {
        display : block;
    }
    #leftDiv {
        border-right : none;
    }
}